/* Fortune Cookie Generator Styles */

html {
    text-align: center;
    padding: 2em;
    font-family: sans-serif, Helvetica;
}

.top{
	background: rgb(252, 241, 150);
	
}

.fortune-cookie-saying-wrapper {
    
    padding: 1em;
    margin: 1em;
}

#fortune-cookie-text{
	width: 500px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	
}

.bottom{
	background: rgb(244, 182, 64);
	height: 1100px;
}

.counterbox{
	left: 50px;
	float left;
	position: absolute;
	width: 100px;
	
}

#fortune-counter{
	background: rgba(218, 143, 68, 1);
	border: 2px solid rgba(218, 143, 68, 1);
	border-radius: 5px;
}

#previous-fortunes-container{
	list-style: none;
	
}
